/*
 * Material Icons font import for block editor
 */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

/*
 * Link styles
 * https://github.com/WordPress/gutenberg/issues/42319
 */
a {
	text-decoration-thickness: 1px;
	text-underline-offset: .1em;
}

/*
 * Social Links Icon Visibility in Editor
 */
.wp-block-social-links .wp-social-link svg {
	display: block !important;
	width: 24px;
	height: 24px;
	fill: currentColor;
}

.wp-block-social-links.has-icon-color .wp-social-link {
	color: inherit;
}
