<!-- wp:template-part {"slug":"header","theme":"renalinfolk","area":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main Content"},"align":"full","layout":{"type":"constrained","contentSize":"1200px"}} -->
<main class="wp-block-group alignfull"><!-- wp:columns {"className":"is-stacked-on-mobile","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","bottom":"0"},"blockGap":{"top":"0","left":"0"}}}} -->
<div class="wp-block-columns is-stacked-on-mobile" style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0"><!-- wp:column {"width":"","className":"post-content-card","style":{"spacing":{"blockGap":"0","padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20","left":"var:preset|spacing|20","right":"var:preset|spacing|20"}},"border":{"radius":"5px"}},"backgroundColor":"base"} -->
<div class="wp-block-column post-content-card has-base-background-color has-background" style="border-radius:5px;padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20)"><!-- wp:group {"style":{"spacing":{"blockGap":"0","padding":{"right":"var:preset|spacing|20","left":"var:preset|spacing|20","top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained","contentSize":"900px","justifyContent":"left"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20)"><!-- wp:heading {"style":{"typography":{"fontSize":"55px","fontWeight":"900","lineHeight":"1.2","fontStyle":"normal"},"spacing":{"margin":{"top":"0","bottom":"var:preset|spacing|30"}}},"textColor":"primary-dark"} -->
<h2 class="wp-block-heading has-primary-dark-color has-text-color" style="margin-top:0;margin-bottom:var(--wp--preset--spacing--30);font-size:55px;font-style:normal;font-weight:900;line-height:1.2">werewqrqwer</h2>
<!-- /wp:heading -->

<!-- wp:separator {"className":"is-style-wide","style":{"spacing":{"margin":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|30"}}},"backgroundColor":"accent-4"} -->
<hr class="wp-block-separator has-text-color has-accent-4-color has-alpha-channel-opacity has-accent-4-background-color has-background is-style-wide" style="margin-top:var(--wp--preset--spacing--20);margin-bottom:var(--wp--preset--spacing--30)"/>
<!-- /wp:separator -->

<!-- wp:paragraph -->
<p>sdfasfsdf</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"renalinfolk","tagName":"footer"} /-->