<!-- wp:template-part {"slug":"header","theme":"renalinfolk"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"}}},"layout":{"type":"constrained","contentSize":"1200px"}} -->
<main class="wp-block-group" style="margin-top:0"><!-- wp:columns {"style":{"spacing":{"blockGap":{"left":"10px"}}}} -->
<div class="wp-block-columns"><!-- wp:column {"width":"25%"} -->
<div class="wp-block-column" style="flex-basis:25%"><!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}},"border":{"radius":"15px","width":"1px"},"dimensions":{"minHeight":""}},"borderColor":"green-blue","layout":{"type":"default"}} -->
<div class="wp-block-group has-border-color has-green-blue-border-color" style="border-width:1px;border-radius:15px;margin-top:var(--wp--preset--spacing--30);margin-bottom:var(--wp--preset--spacing--30);padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:renalinfolk/query-filter-container {"showDate":true} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"75%"} -->
<div class="wp-block-column" style="flex-basis:75%"><!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"},"padding":{"right":"var:preset|spacing|20","left":"var:preset|spacing|20","top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}},"border":{"width":"1px","color":"#006D77","radius":"15px"}},"backgroundColor":"secondary","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-border-color has-secondary-background-color has-background" style="border-color:#006D77;border-width:1px;border-radius:15px;margin-top:var(--wp--preset--spacing--30);margin-bottom:var(--wp--preset--spacing--30);padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20)"><!-- wp:heading {"fontSize":"large"} -->
<h2 class="wp-block-heading has-large-font-size">Video Gallery</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"5px","bottom":"5px","left":"5px","right":"5px"},"margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}},"border":{"width":"1px","color":"#006D77","radius":"15px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group has-border-color" style="border-color:#006D77;border-width:1px;border-radius:15px;margin-top:var(--wp--preset--spacing--30);margin-bottom:var(--wp--preset--spacing--30);padding-top:5px;padding-right:5px;padding-bottom:5px;padding-left:5px"><!-- wp:query {"queryId":1,"query":{"perPage":8,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"category":[57]},"parents":[],"format":[]},"layout":{"type":"default"}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|20","padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20","left":"var:preset|spacing|20","right":"var:preset|spacing|20"}}},"fontSize":"medium","layout":{"type":"grid","columnCount":3,"minimumColumnWidth":null}} -->
<!-- wp:group {"style":{"border":{"radius":{"topLeft":"5px","topRight":"5px","bottomLeft":"5px","bottomRight":"5px"},"width":"1px"},"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"borderColor":"green-blue","layout":{"type":"default"}} -->
<div class="wp-block-group has-border-color has-green-blue-border-color" style="border-width:1px;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":0,"isUserOverlayColor":true,"focalPoint":{"x":0.5,"y":0.5},"contentPosition":"bottom center","isDark":false,"style":{"dimensions":{"aspectRatio":"16/9"}},"layout":{"type":"default"}} -->
<div class="wp-block-cover is-light has-custom-content-position is-position-bottom-center"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:spacer {"height":"200px"} -->
<div style="height:200px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"style":{"dimensions":{"minHeight":"50px"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"right"}} -->
<div class="wp-block-group" style="min-height:50px"><!-- wp:post-date {"format":"F j, Y","metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"date"}}}},"style":{"typography":{"fontSize":"0.875rem"},"spacing":{"margin":{"top":"0"}},"layout":{"selfStretch":"fill","flexSize":null}},"textColor":"base"} /-->

<!-- wp:image {"id":90050,"aspectRatio":"1","scale":"cover","sizeSlug":"full","linkDestination":"none","className":"is-style-default","style":{"layout":{"selfStretch":"fixed","flexSize":"32px"}}} -->
<figure class="wp-block-image size-full is-style-default"><img src="http://localhost/renalinfolk/wp-content/uploads/play_icon_3.png" alt="" class="wp-image-90050" style="aspect-ratio:1;object-fit:cover"/></figure>
<!-- /wp:image --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|20","left":"var:preset|spacing|20","top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"},"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:var(--wp--preset--spacing--20);padding-bottom:0;padding-left:var(--wp--preset--spacing--20)"><!-- wp:post-title {"isLink":true,"style":{"typography":{"lineHeight":"1.4","fontStyle":"normal","fontWeight":"400"},"spacing":{"margin":{"top":"0","bottom":"0rem"},"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20","right":"0px"}},"elements":{"link":{"color":{"text":"var:preset|color|green-blue"}}}},"textColor":"green-blue","fontSize":"small"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"paginationArrow":"arrow","align":"center","className":"gallery-pagination","style":{"spacing":{"margin":{"top":"3rem"}}},"fontSize":"medium","layout":{"type":"flex","justifyContent":"center","flexWrap":"wrap"}} -->
<!-- wp:query-pagination-previous {"style":{"typography":{"fontSize":"0.875rem","fontWeight":"500","fontStyle":"normal"},"spacing":{"padding":{"top":"0.625rem","bottom":"0.625rem","left":"1rem","right":"1rem"}},"border":{"radius":"50px"}},"backgroundColor":"base","textColor":"text-light"} /-->

<!-- wp:query-pagination-numbers {"style":{"typography":{"fontSize":"0.875rem","fontWeight":"500","fontStyle":"normal"}}} /-->

<!-- wp:query-pagination-next {"style":{"typography":{"fontSize":"0.875rem","fontWeight":"500"},"spacing":{"padding":{"top":"0.625rem","bottom":"0.625rem","left":"1rem","right":"1rem"}},"border":{"radius":"50px"}},"backgroundColor":"base","textColor":"text-light"} /-->
<!-- /wp:query-pagination -->

<!-- wp:query-no-results -->
<!-- wp:paragraph {"align":"center","style":{"typography":{"fontSize":"1.125rem"},"spacing":{"margin":{"top":"3rem"}}},"textColor":"text-light"} -->
<p class="has-text-align-center has-text-light-color has-text-color" style="margin-top:3rem;font-size:1.125rem">No articles found. Please try a different search or filter.</p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"renalinfolk"} /-->