<!-- wp:template-part {"slug":"header","theme":"renalinfolk","area":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main Content"},"align":"full","layout":{"type":"constrained","contentSize":"1200px"}} -->
<main class="wp-block-group alignfull"><!-- wp:columns {"className":"is-stacked-on-mobile","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","bottom":"0"},"blockGap":{"top":"0","left":"0"}}}} -->
<div class="wp-block-columns is-stacked-on-mobile" style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0"><!-- wp:column {"width":"","className":"post-content-card","style":{"spacing":{"blockGap":"0","padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20","left":"var:preset|spacing|20","right":"var:preset|spacing|20"}},"border":{"radius":"5px"}},"backgroundColor":"base"} -->
<div class="wp-block-column post-content-card has-base-background-color has-background" style="border-radius:5px;padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20)"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20","left":"var:preset|spacing|30","right":"var:preset|spacing|30"},"margin":{"top":"0"}},"color":{"background":"#BDE0FE1A"}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignwide has-background" style="background-color:#BDE0FE1A;margin-top:0;padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--30)"><!-- wp:post-title {"textAlign":"left","level":1,"style":{"typography":{"fontSize":"3rem","fontWeight":"800","fontStyle":"normal"}},"textColor":"primary-dark"} /-->

<!-- wp:paragraph {"align":"left","style":{"typography":{"fontSize":"1.125rem"},"spacing":{"margin":{"top":"1rem"}}},"textColor":"text-light"} -->
<p class="has-text-align-left has-text-light-color has-text-color" style="margin-top:1rem;font-size:1.125rem">counselling and support</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"3rem","bottom":"3rem","left":"var:preset|spacing|30","right":"var:preset|spacing|30"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignwide" style="padding-top:3rem;padding-right:var(--wp--preset--spacing--30);padding-bottom:3rem;padding-left:var(--wp--preset--spacing--30)"><!-- wp:heading {"style":{"typography":{"fontSize":"2rem","fontWeight":"700","fontStyle":"normal"},"spacing":{"margin":{"bottom":"2rem"}}},"textColor":"primary-dark"} -->
<h2 class="wp-block-heading has-primary-dark-color has-text-color" style="margin-bottom:2rem;font-size:2rem;font-style:normal;font-weight:700">counselling and support 1</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"spacing":{"margin":{"bottom":"2rem"}}},"textColor":"text-light"} -->
<p class="has-text-light-color has-text-color" style="margin-bottom:2rem">counselling and support 1</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"renalinfolk","tagName":"footer"} /-->