<!-- wp:template-part {"slug":"header","theme":"renalinfolk"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"}}},"layout":{"type":"constrained","contentSize":"1200px"}} -->
<main class="wp-block-group" style="margin-top:0"><!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20","left":"var:preset|spacing|20","right":"var:preset|spacing|20"},"margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}},"border":{"radius":"15px","width":"1px","color":"#1d2c33"},"dimensions":{"minHeight":""}},"backgroundColor":"secondary","layout":{"type":"constrained","contentSize":"1200px"}} -->
<div class="wp-block-group has-border-color has-secondary-background-color has-background" style="border-color:#1d2c33;border-width:1px;border-radius:15px;margin-top:var(--wp--preset--spacing--30);margin-bottom:var(--wp--preset--spacing--30);padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20)"><!-- wp:details -->
<details class="wp-block-details"><summary>Filter Articles</summary><!-- wp:renalinfolk/query-filter-container {"showDate":true} /--></details>
<!-- /wp:details --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"0rem","bottom":"1rem"}}},"layout":{"type":"constrained","contentSize":"1200px"}} -->
<div class="wp-block-group alignwide" style="padding-top:0rem;padding-bottom:1rem"><!-- wp:query {"queryId":1,"query":{"perPage":9,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"category":[57]},"parents":[],"format":[]},"layout":{"type":"default"}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"typography":{"fontStyle":"normal","fontWeight":"100"},"spacing":{"blockGap":"10px","padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20","left":"var:preset|spacing|20","right":"var:preset|spacing|20"}}},"layout":{"type":"grid","columnCount":3,"minimumColumnWidth":null}} -->
<!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}},"border":{"width":"1px","color":"#006D77","radius":"15px"}},"backgroundColor":"base","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-border-color has-base-background-color has-background" style="border-color:#006D77;border-width:1px;border-radius:15px;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":10,"overlayColor":"secondary","isUserOverlayColor":true,"focalPoint":{"x":0.5,"y":0.5},"minHeight":200,"contentPosition":"bottom center","isDark":false,"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}},"heading":{"color":{"text":"var:preset|color|primary"}}},"spacing":{"padding":{"right":"0px","left":"0px","top":"0%","bottom":"0%"},"blockGap":"0","margin":{"top":"0","bottom":"0"}},"border":{"radius":{"topLeft":"15px","topRight":"15px","bottomLeft":"0px","bottomRight":"0px"}}},"textColor":"secondary","layout":{"type":"default"}} -->
<div class="wp-block-cover is-light has-custom-content-position is-position-bottom-center has-secondary-color has-text-color has-link-color" style="border-top-left-radius:15px;border-top-right-radius:15px;border-bottom-left-radius:0px;border-bottom-right-radius:0px;margin-top:0;margin-bottom:0;padding-top:0%;padding-right:0px;padding-bottom:0%;padding-left:0px;min-height:200px"><span aria-hidden="true" class="wp-block-cover__background has-secondary-background-color has-background-dim-10 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"style":{"spacing":{"padding":{"top":"5px","right":"5px","bottom":"5px","left":"5px"},"margin":{"top":"0px","bottom":"0px"},"blockGap":"0"},"dimensions":{"minHeight":""},"color":{"gradient":"linear-gradient(186deg,rgba(116,193,255,0.28) 0%,rgb(69,86,140) 100%)"}},"layout":{"type":"flex","orientation":"horizontal","justifyContent":"left","flexWrap":"wrap","verticalAlignment":"bottom"}} -->
<div class="wp-block-group has-background" style="background:linear-gradient(186deg,rgba(116,193,255,0.28) 0%,rgb(69,86,140) 100%);margin-top:0px;margin-bottom:0px;padding-top:5px;padding-right:5px;padding-bottom:5px;padding-left:5px"><!-- wp:post-date {"format":"F j, Y","style":{"typography":{"fontSize":"0.875rem"},"spacing":{"margin":{"top":"0"}},"layout":{"selfStretch":"fill","flexSize":null}},"textColor":"secondary"} /-->

<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}},"layout":{"selfStretch":"fit","flexSize":null}},"textColor":"secondary","fontSize":"small"} -->
<p class="has-secondary-color has-text-color has-link-color has-small-font-size">by :</p>
<!-- /wp:paragraph -->

<!-- wp:post-author-name {"style":{"typography":{"fontSize":"0.875rem"},"spacing":{"margin":{"top":"0"}},"layout":{"selfStretch":"fit","flexSize":null}},"textColor":"secondary"} /--></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","bottom":"var:preset|spacing|20","left":"var:preset|spacing|20","right":"var:preset|spacing|20"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20)"><!-- wp:post-title {"isLink":true,"style":{"typography":{"fontSize":"1rem","fontWeight":"700","lineHeight":"1.4","fontStyle":"normal"},"spacing":{"margin":{"top":"0","bottom":"0.5rem"},"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20","right":"0px"}}},"textColor":"contrast"} /-->

<!-- wp:post-excerpt {"moreText":"","excerptLength":15,"style":{"typography":{"fontSize":"0.875rem","lineHeight":"1.5"},"spacing":{"margin":{"top":"0","bottom":"0.5rem"}}},"textColor":"text-light"} /-->

<!-- wp:read-more {"content":"Read more...","style":{"elements":{"link":{"color":{"text":"var:preset|color|background-light"}}},"border":{"radius":"999px","width":"1px"},"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20","left":"var:preset|spacing|20","right":"var:preset|spacing|20"}}},"backgroundColor":"green-blue","textColor":"background-light","fontSize":"small","borderColor":"accent-text"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"paginationArrow":"arrow","align":"center","className":"gallery-pagination","style":{"spacing":{"margin":{"top":"3rem"}}},"fontSize":"medium","layout":{"type":"flex","justifyContent":"center","flexWrap":"wrap"}} -->
<!-- wp:query-pagination-previous {"style":{"typography":{"fontSize":"0.875rem","fontWeight":"500","fontStyle":"normal"},"spacing":{"padding":{"top":"0.625rem","bottom":"0.625rem","left":"1rem","right":"1rem"}},"border":{"radius":"50px"}},"backgroundColor":"base","textColor":"text-light"} /-->

<!-- wp:query-pagination-numbers {"style":{"typography":{"fontSize":"0.875rem","fontWeight":"500","fontStyle":"normal"}}} /-->

<!-- wp:query-pagination-next {"style":{"typography":{"fontSize":"0.875rem","fontWeight":"500"},"spacing":{"padding":{"top":"0.625rem","bottom":"0.625rem","left":"1rem","right":"1rem"}},"border":{"radius":"50px"}},"backgroundColor":"base","textColor":"text-light"} /-->
<!-- /wp:query-pagination -->

<!-- wp:query-no-results -->
<!-- wp:paragraph {"align":"center","style":{"typography":{"fontSize":"1.125rem"},"spacing":{"margin":{"top":"3rem"}}},"textColor":"text-light"} -->
<p class="has-text-align-center has-text-light-color has-text-color" style="margin-top:3rem;font-size:1.125rem">No articles found. Please try a different search or filter.</p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"renalinfolk"} /-->